@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Light.ttf");
  font-weight: lighter;
}
:root {
  --wallet-deg: 5deg;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#money-wrapper {
  height:50vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  left:0;
  top:0;
}

.font-regular {
  font-family: OpenSans;
}
.font-bold {
  font-family: OpenSans;
  font-weight: bold;
}
#shop-wrapper {
  max-height:40%;
  overflow-y:scroll;
  overflow-x:visible;
  width:75vw;
  bottom:0;
  position:absolute;
  list-style: none;
  border-top: black 10px solid;
  border-radius: 10px;
  transition: max-height 0.33s;
  transition-delay: 0s;
}
.shop-open {
  
  max-height:80% !important;
  transition: max-height 0.33s !important;
  transition-delay: 0.2s !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

.shop-item {
  margin:auto;
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width:clamp(270px,30vw,500px);
  height:clamp(30px,5vh,5vh);
  color:black;
  border: 2px black solid;
  margin-bottom: 1vh;
  padding: 1vh 1vw;
  border-radius: 5px;
  min-height:40px;
  user-select: none;
}
.shop-item > * {
  font-size:clamp(0.75em,1vw,1vw);
  margin: 0 1%;
}
.shop-item > .item-left {
  text-align: left;
  width: 60%;
}
.shop-item > .item-right {
  text-align: right;
  width: 35%;
}
.shop-item-button {
  cursor:pointer;
  height:55%;
  text-align: center !important;
  border: black 2px solid;
  border-radius: 5px;
  background: none;
  overflow:hidden;
  transition: box-shadow 0.1s;
  box-shadow: inset 1px 1px 0px 0px black;
}
#bottom-wrapper {
  position:absolute; 
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lootbox-wrapper {
  top:0;
  position: absolute;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width:clamp(360px,50vw,1100px);
  transform: scaleX(0%);
  aspect-ratio: 10/2;
  overflow:hidden;
  user-select: none;
  z-index: -1;
  transition: transform 0.2s;
  transition-delay: 0s;
}
#lootbox-pointer {
  height: 100%;
  width:50%;
  transform: translateY(-100%);
  border-right: 4px black solid;
}
#lootbox-spinner {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  max-width:100%;
  overflow:hidden;
  white-space: nowrap;
  user-select: none;
  padding-right: 36.5%;
  padding-left:36.5%;
  transition: padding-right 1s, padding-left 0s;
}
.spinner-open {
  transform: scaleX(100%) !important;
  transition-delay: 0.2s !important;
}
.lootbox-item {
  display: inline-block;
  height: 90%;
  aspect-ratio: 1/1;
  border: 1px solid black;
}
.item-name {
  font-family: OpenSans;
  font-weight: bold;
  font-size:1vw;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    padding-left:36.5%
  }
  100% {
    padding-left:0%
  }
}
.shop-item-button:active {
  box-shadow: inset -1px -1px 0px 0px black;
}
#wallet-div {
  user-select: none;
  font-size:2.5vw;
  animation: shake-anim 1s ease-in-out infinite;
  transform: rotate(var(--wallet-deg))
}
#money-button {
  width: 25%;
  aspect-ratio: 3/1;
  margin-top:1vw;
  font-size:5vw;
  border: black solid 2px;
  border-radius: 0.5vw;
  background: none;
  color: black;
  transition: color 0.075s ease-in, background 0.075s ease-out, transform 0.075s ease-in, box-shadow 0.075s ease-in;
  user-select: none;
  cursor: pointer;
  box-shadow: 2vw 2vw 0px 0px black;
}
#money-button:hover {
  color:rgba(0, 0, 0, 0.5)
}
#money-button:active {
  color: white;
  box-shadow: 0vw 0vw 0px 0px black;
  transform: translateY(2vw);
}

@keyframes shake-anim {
  50% {
    transform: rotate(calc(var(--wallet-deg) * -1))
  }
  100% {
    transform: rotate(var(--wallet-deg));
  }
}